:root {
  --bg-body: #f0f2f5;
  --bg-card: #ffffff;
  --bg-delete: #ffd8d8;
  --text-primary: #333333;
  --text-secondary: #666666;
  --accent-color: #4285f4;
  --delete-color: #FF0000;
  --border-color: #e4e6eb;
}

.dark-mode {
  --bg-body: #18191a;
  --bg-card: #242526;
  --bg-delete: #4e3f3f;
  --text-primary: #e4e6eb;
  --text-secondary: #b0b3b8;
  --border-color: #3e4042;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-body);
  color: var(--text-primary);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 20px;
  width: 100%;
  max-width: 800px;
}

.card {
  background-color: var(--bg-card);
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.profile-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #eee;
}
.role {
  font-size: 0.9rem;
  color: var(--text-secondary);
}
.bio {
  font-size: 0.9rem;
  margin-bottom: 20px;
  line-height: 1.5;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.1s;
}
.btn:active {
  transform: scale(0.95);
}

.btn-primary {
  background-color: var(--accent-color);
  color: white;
}
.btn-secondary {
  background-color: var(--border-color);
  color: var(--text-primary);
  width: 100%;
}
.btn-delete {
  padding: 2px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.1s;
  background-color: var(--delete-color);
  color: white;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}
input {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background: transparent;
  color: var(--text-primary);
}

ul {
  list-style: none;
}
li {
  opacity: 1;
  background-color: var(--bg-body);
  padding: 12px;
  margin-top: 12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 4px solid var(--accent-color);
}
li.slide-in {
  animation: slideIn 0.3s ease-in forwards;
}
.no-task {
  background-color: var(--bg-delete);
  border-left: 4px solid var(--delete-color);
  justify-content: center;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}